apiVersion: v1
data:
  .dockerconfigjson: eyJhdXRocyI6eyJkZXZvcHNhY3J1bmlyMjAyNS5henVyZWNyLmlvIjp7InVzZXJuYW1lIjoiZGV2b3BzYWNydW5pcjIwMjUiLCJwYXNzd29yZCI6IktiTVBSejQ2WVNGZWY1ZjNicGtJdlh5cjFMZmh3TGtHMy9Ud0VRT2RJRStBQ1JDcWxqSFEiLCJhdXRoIjoiWkdWMmIzQnpZV055ZFc1cGNqSXdNalU2UzJKTlVGSjZORFpaVTBabFpqVm1NMkp3YTBsMldIbHlNVXhtYUhkTWEwY3pMMVIzUlZGUFpFbEZLMEZEVWtOeGJHcElVUT09In19fQ==
kind: Secret
metadata:
  creationTimestamp: null
  name: acr-secret
  namespace: "{{ app_namespace }}"
type: kubernetes.io/dockerconfigjson
